/* src/styles/App.css */
header {
  background: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}

footer {
  background: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
}
